{
  "parser": "@typescript-eslint/parser",
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "no-undef": "error",
    "semi": "error",
    "no-unused-vars": "error",
    "quotes": [
      "error",
      "single"
    ]
  }
}
