name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: node
        run: echo "version=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: node
      - uses: actions/setup-node@v6
        with:
          node-version: "${{ steps.node.outputs.version }}"
      - name: Run tests
        run: |
          npm ci
          npm run test:all
