name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: node
        run: echo "version=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: node
      - uses: actions/setup-node@v6
        with:
          node-version: "${{ steps.node.outputs.version }}"
      - name: Run tests
        run: |
          npm ci
          npm run test:all
