name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: node
        run: echo "version=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: node
      - uses: actions/setup-node@v4
        with:
          node-version: "${{ steps.node.outputs.version }}"
      - name: Run tests
        run: |
          npm ci
          npm run test:all
